@using CreatureScaler.Models

@model CreatureScaler.Models.Creature

@{
    ViewData["Title"] = "Creature Statblock";
}
<head>
    <link rel="stylesheet" href="~/css/Statblock.css">
</head>
<body>
    <div id="content-wrap">
        <h1>
            @Model.Name
        </h1>
        <h2>
            @Model.Size.ToString() @Model.Type, @Model.Alignment.ToString()
        </h2>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400"></polyline>
        </svg>
        <div>
        </div>
        <top-stat-block>
            <property-block>
                <h4>
                    Armor Class
                </h4>
                <p>@Model.ArmorClass</p>
            </property-block>
            <div>
            </div>
            <property-block>
                <h4>
                    Hit Points
                </h4>
                <p>@Model.Health.HitPointMaximum (@Model.Health.HitDieCount@Model.Health.HitDieSize.ToString() + @(@Model.Health.HitDieCount * @Model.Statistics.ByAbility(Ability.Constitution)?.Modifier ?? 0))</p>
            </property-block>
            <div>
            </div>
            <property-block>
                <h4>
                    Speed
                </h4>
                <p>25ft.</p>
            </property-block>
        </top-stat-block>
        <div>
        </div>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400">
            </polyline>
        </svg>
        <div>
        </div>
        <table>
            <tbody>
                <tr>
                    <th>STR</th>
                    <th>DEX</th>
                    <th>CON</th>
                    <th>INT</th>
                    <th>WIS</th>
                    <th>CHA</th>
                </tr>
                <tr>
                    <td id="STR">@(@Model.Statistics.ByAbility(Ability.Strength)?.Value ?? 10) (@(@Model.Statistics.ByAbility(Ability.Strength)?.Modifier ?? 0))</td>
                    <td id="DEX">@(@Model.Statistics.ByAbility(Ability.Dexterity)?.Value ?? 10) (@(@Model.Statistics.ByAbility(Ability.Dexterity)?.Modifier ?? 0))</td>
                    <td id="CON">@(@Model.Statistics.ByAbility(Ability.Constitution)?.Value ?? 10) (@(@Model.Statistics.ByAbility(Ability.Constitution)?.Modifier ?? 0))</td>
                    <td id="INT">@(@Model.Statistics.ByAbility(Ability.Intelligence)?.Value ?? 10) (@(@Model.Statistics.ByAbility(Ability.Intelligence)?.Modifier ?? 0))</td>
                    <td id="WIS">@(@Model.Statistics.ByAbility(Ability.Wisdom)?.Value ?? 10) (@(@Model.Statistics.ByAbility(Ability.Wisdom)?.Modifier ?? 0))</td>
                    <td id="CHA">@(@Model.Statistics.ByAbility(Ability.Charisma)?.Value ?? 10) (@(@Model.Statistics.ByAbility(Ability.Charisma)?.Modifier ?? 0))</td>
                </tr>
            </tbody>
        </table>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400"></polyline>
        </svg>
        <div>
        </div>

        @if (@Model.DamageImmunities.Any())
        {
            <property-block>
                <h4>
                    Damage Immunities
                </h4>
                <p>@(String.Join(", ", @Model.DamageImmunities.OrderBy(di => di.ToString())))</p>
            </property-block>
        }

        <div class="special">
        </div>

        @if (@Model.ConditionImmunities.Any())
        {
            <property-block>
                <h4>
                    Condition Immunities
                </h4>
                <p>
                    @(String.Join(", ", @Model.ConditionImmunities.OrderBy(di => di.ToString())))
                </p>
            </property-block>
        }

        <div class="special">
        </div>
        <property-block>
            <h4>
                Senses
            </h4>
            <p>Truesight 10ft. (blind beyond this distance), passive Perception 6</p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                Languages
            </h4>
            <p>Abyssal, White Wolf</p>
        </property-block>
        <div class="special">
        </div>
        <property-block>
            <h4>
                Challenge
            </h4>
            <p>@Model.ChallengeRating.ListedChallengeRating (@Model.ChallengeRating.ExperiencePoints XP)</p>
        </property-block><div class="special">
        </div>
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5" width="400">
            </polyline>
        </svg>
        @if (@Model.Features.Any())
        {
            <div>
            </div>
            @foreach (var feature in @Model.Features)
            {
                <property-block>
                    <h4>
                        @(feature.Name).
                    </h4>
                    <p>
                        @feature.Description
                    </p>
                </property-block>
                <div class="special">
                </div>
            }
        }
        @if (@Model.Actions.Any())
        {
            <h3>
                Actions
            </h3>
            @foreach (var action in @Model.Actions)
            {
                <div class="special">
                </div>
                <property-block>
                    <h4>
                        @if (String.IsNullOrWhiteSpace(action.Recharge))
                        {
                            @($"{action.Name}.")
                        }
                        else
                        {
                            @($"{action.Name} ({action.Recharge}).")
                        }
                    </h4>
                    <p>
                        @action.Description
                    </p>
                </property-block>
            }
        }
    </div>
</body>
