@using CreatureScaler.ViewModels

@model CreatureScaler.ViewModels.Creature

@{
    ViewData["Title"] = "Creature Statblock";
}
<div id="content-wrap">
    <h1>
        @Model.Title
    </h1>
    <h2>
        @Model.Subtitle
    </h2>
    <svg height="5" width="400">
        <polyline points="0,0 400,2.5 0,5" width="400"></polyline>
    </svg>
    <div>
    </div>
    <top-stat-block>
        <property-block>
            <h4>
                Armor Class
            </h4>
            <p>
                @Model.ArmorClass
            </p>
        </property-block>
        <div>
        </div>
        <property-block>
            <h4>
                Hit Points
            </h4>
            <p>
                @Model.HitPoints
            </p>
        </property-block>
        <div>
        </div>
        <property-block>
            <h4>
                Speed
            </h4>
            <p>
                @Model.Speed
            </p>
        </property-block>
    </top-stat-block>
    <div>
    </div>
    <svg height="5" width="400">
        <polyline points="0,0 400,2.5 0,5" width="400">
        </polyline>
    </svg>
    <div>
    </div>
    <table>
        <tbody>
            <tr>
                <th>STR</th>
                <th>DEX</th>
                <th>CON</th>
                <th>INT</th>
                <th>WIS</th>
                <th>CHA</th>
            </tr>
            <tr>
                <td id="STR">@Model.Statistics["STR"]</td>
                <td id="DEX">@Model.Statistics["DEX"]</td>
                <td id="CON">@Model.Statistics["CON"]</td>
                <td id="INT">@Model.Statistics["INT"]</td>
                <td id="WIS">@Model.Statistics["WIS"]</td>
                <td id="CHA">@Model.Statistics["CHA"]</td>
            </tr>
        </tbody>
    </table>
    <svg height="5" width="400">
        <polyline points="0,0 400,2.5 0,5" width="400"></polyline>
    </svg>
    <div>
    </div>

    @if (String.IsNullOrWhiteSpace(@Model.DamageImmunities))
    {
        <property-block>
            <h4>
                Damage Immunities
            </h4>
            <p>
                @Model.DamageImmunities
            </p>
        </property-block>
    }
    <div class="special">
    </div>
    @if (String.IsNullOrWhiteSpace(@Model.ConditionImmunities))
    {
        <property-block>
            <h4>
                Condition Immunities
            </h4>
            <p>
                @Model.ConditionImmunities
            </p>
        </property-block>
    }

    <div class="special">
    </div>
    <property-block>
        <h4>
            Senses
        </h4>
        <p>
            @Model.Senses
        </p>
    </property-block>
    <div class="special">
    </div>
    <property-block>
        <h4>
            Languages
        </h4>
        <p>
            @Model.Languages
        </p>
    </property-block>
    <div class="special">
    </div>
    <property-block>
        <h4>
            Challenge
        </h4>
        <p>
            @Model.Challenge
        </p>
    </property-block><div class="special">
    </div>
    <svg height="5" width="400">
        <polyline points="0,0 400,2.5 0,5" width="400">
        </polyline>
    </svg>
    <div>
    </div>
    @foreach (var feature in @Model.Features)
    {
        <property-block>
            <h4>
                @(feature.Title).
            </h4>
            <p>
                @feature.Details
            </p>
        </property-block>
        <div class="special">
        </div>
    }
    <h3>
        Actions
    </h3>
    @foreach(var action in @Model.Actions)
    {
        <div class="special">
        </div>
        <property-block>
            <h4>
                @action.Title
            </h4>
            <p>
                @action.Details
            </p>
        </property-block>
    }
</div>